* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: background-color 0.5s;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 100px auto;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  padding: 4rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
}

#color-display h1 {
  font-weight: 900;
  margin-bottom: 1em;
}

#new-color-button {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 900;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.25s linear;
}

#new-color-button:hover {
  background-color: darkslategray;
}
@media only screen and (max-width: 768px) {
  body {
  font-size: 0.75rem;
  }
  #new-color-button {
    padding: ;
  }
}
